@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Kanit:wght@300&family=Lovers+Quarrel&family=Montserrat:ital,wght@0,300;1,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}